
h1{
    font-style: oblique;
    color: blue;

}

p{
    font-style: inherit;
    color: tomato;

}

.mijnAfbeelding{
    width: 100px;
    height: 100px;

}

img{
    width: 100px;
    height: 100px;
}